.portfolio-item {
    opacity: 0; 
    
    -webkit-transition: opacity .5s ease-in;
       -moz-transition: opacity .5s ease-in;
        -ms-transition: opacity .5s ease-in;
         -o-transition: opacity .5s ease-in;
            transition: opacity .5s ease-in;
}

#foot {
  /* width: 100%; */
  /* transform: translateY(150px); */
}
