.portfolio-item {
    opacity: 0; 
    
    -webkit-transition: opacity .5s ease-in;
       -moz-transition: opacity .5s ease-in;
        -ms-transition: opacity .5s ease-in;
         -o-transition: opacity .5s ease-in;
            transition: opacity .5s ease-in;
}

#foot {
  /* width: 100%; */
  /* transform: translateY(150px); */
}

body{
  /* background: red; */
  
  background: linear-gradient(#81989D,#FF787C);
  -webkit-filter: -webkit-gradient(linear, right 10%, right bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));

}
